<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <script src="../../../assets/libs/min/modernizr.min.js"></script>
</head>
<body>
    <div id="page" class="container">
        <header>


        </header>
        <div id="content" class="container">



        </div>

        <footer>




        </footer>





    </div>

<script src="../../../assets/libs/min/jquery.min.js"></script>
</body>
</html>